.app-tabbar{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #000000;
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
    border-radius: 30px 30px 0 0;

    &__bar{
        height: 100px;
    }
}

.app-layout--tabbar{
    padding-bottom: calc(100px + env(safe-area-inset-bottom));
}

.app-sidebar-menu{
    width: 604px;
    background-color: var(--app-card-bg);
    border-radius: 40px 0 0 40px;
    padding: 50px 40px;
}

.app-sidebar-kpi{
    height: 153px;
    padding: 30px;
    background: #092E5A;
    border: 2px solid #3760F9;
    border-radius: 21px;

    &__value{
        color: #76E6FF;
    }
}

.app-sidebar-invite{
    &__box{
        height: 72px;
        overflow: hidden;
        background-color: #FFFFFF1A;
        border: 1px solid #FFFFFF33;
        border-radius: 10px;
    }

    &__value{
        min-width: 0;
        padding: 0 24px;
    }

    &__line{
        width: 1px;
        height: 32px;
        background-color: #FFFFFF33;
    }

    &__copy{
        width: 72px;
        height: 100%;
    }
}
.app-menu{
    width: 100%;
    @include calc-vh(520);

    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 28px;
    }

    &__item{
        min-width: 0;
        height: 114px;
        color: #657B98;
        text-decoration: none;
    }

    &__external--disabled{
        cursor: default;
    }

}
